/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
}
.vglasses__left {
     background-color: white;
     padding: 20px 40px;
     box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19) ;
}
.vglasses__left .col-4{
    align-items: center;
}
.vglasses__items{
    cursor: pointer;
}
.vglasses__right{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19) ;
}
.vglasses__model{
    background-image: url(../img/fa2.png);
    background-size: cover;     
    background-position: center top;
    height: 600px;
}
.vglasses__model img{
    position: absolute;
    top: 39%;
    left: 21%;
    width: 300px;
    height: 167px;
    opacity: 0.9;
}
.vglasses__card{
 position: relative;
 overflow: hidden;
 background-color: white;
}
.vglasses__info{
    position: absolute;
    top: 551px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.267);
    width: 100%
}
#glasses{
    transition: all 0.5s;
}